<template>
  <client-only>
    <v-parallax dark src="/images/background.jpg" v-if="!$auth.loggedIn" height="2000px">
      <v-col justify-center align-center>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
        <h1>Tehnokom</h1>
      </v-col>
    </v-parallax>
    <mainAuth v-else />
    <!-- <div v-else class="h-full">
      <p>AUTH</p>
    </div> -->
  </client-only>
</template>

<script>
import mainAuth from "../components/mainAuth";
export default {
  components: {
    mainAuth
  },
  mounted() {}
  // mounted () {
  //   this.$auth.login({
  //     username: 'email@gmail.com',
  //     password: 'password1234'
  //   })
  // }
};
</script>
