<template>
  <v-col :align-center="isLarge" class="pa-0 pt-2">
    <v-row>
      <v-card>
        <v-tabs v-model="tab" show-arrows>
          <v-tab v-for="(tab, idx) in tabs" :key="idx" :href="`#${tab.href}`">{{ tab.text }}</v-tab>
          <v-tab-item value :eager="true">
            <kom-list v-model="tuta.edges"/>
          </v-tab-item>
          <v-tab-item value="iniciato" :eager="true">
            <kom-list v-model="iniciato.edges"/>
          </v-tab-item>
          <v-tab-item value="soveto" :eager="true">
            <kom-list v-model="soveto.edges"/>
          </v-tab-item>
          <v-tab-item value="entrepreno" :eager="true">
            <kom-list v-model="entrepreno.edges"/>
          </v-tab-item>
          <v-tab-item value="grupo" :eager="true">
            <kom-list v-model="grupo.edges"/>
          </v-tab-item>
        </v-tabs>
        <v-col align-center>
          <nuxt-link
            v-if="pageInfo.hasNextPage" v-show="false"
            :to="`/kom?${$route.query.tipo ? 'tipo=' + $route.query.tipo + '&' : ''}p=${parseInt($route.query.p || 1) + 1}`"
          >
            Следующая
            страница
          </nuxt-link>
          <div v-observe-visibility="loadMore">
            <v-progress-circular
              v-show="pageInfo && (pageInfo.hasNextPage !== false)"
              indeterminate
              color="primary"
            ></v-progress-circular>
          </div>
        </v-col>
      </v-card>
    </v-row>
  </v-col>
</template>

<script>
  import KomList from "~/components/kom/kom-list";
  import {encodeGraphQLCursor, graphQlUrlize} from "../utils";
  // Запрос списка всех Сообществ
  import {komunumoj_query} from "~/components/kom/queries.js";

  const tipoj = ["iniciato", "soveto", "entrepreno", "grupo"];

  export default {
    head() {
      return {
        title: "Сообщества"
      };
    },

    components: {
      KomList
    },

    async asyncData({app, query, error}) {
      const tipo = query.tipo || null;

      if (tipo && tipoj.indexOf(tipo) < 0) {
        error({status: 404}); // Бросаем 404
        return Promise.resolve();
      }

      const cnt = query.cnt || 15;
      const page = (query.p || 1) - 1;
      const after = page ? encodeGraphQLCursor(page * cnt - 1) : null;

      return await app.$axios
        .get(
          graphQlUrlize({
            query: komunumoj_query,
            variables: {
              first: cnt,
              after: after,
              tipo: tipo
            }
          })
        )
        .then(response => {
          const resp = response.data.data.komunumoj;
          let data = {
            tab: null,
            tabs: [
              {text: "Все сообщества", href: ""},
              {text: "Общественные инициативы", href: "iniciato"},
              {text: "Советы", href: "soveto"},
              {text: "Организации", href: "entrepreno"},
              {text: "Группы", href: "grupo"}
            ],
            tuta: {pageInfo: {}, edges: []},
            iniciato: {pageInfo: {}, edges: []},
            soveto: {pageInfo: {}, edges: []},
            entrepreno: {pageInfo: {}, edges: []},
            grupo: {pageInfo: {}, edges: []},
            loading: false
          };

          data[tipo || "tuta"].pageInfo = resp.pageInfo;
          data[tipo || "tuta"].edges = resp.edges;

          return Promise.resolve(data);
        })
        .catch(e => {
          console.error(e);
          return Promise.reject(e);
        });
    },

    computed: {
      // Проверяем размер экрана
      isLarge() {
        return this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl;
      },
      // Проверяем где происходит действие
      isServer() {
        return process.server;
      },
      // Возвращаем информацию о страницы для текущей вкладки
      pageInfo() {
        const tab = this.$route.query.tipo ? this.$route.query.tipo : "tuta";
        return this[tab].pageInfo;
      }
    },

    watch: {
      // Вызываем обновление информации при изменении апараметров адресной строки
      "$route.query": {
        handler: function (cur, old) {
          if (!this[cur.tipo || "tuta"].pageInfo.hasOwnProperty("hasNextPage")) {
            this.loadData();
          }
        },
        deep: true
      },

      // Обновляем параметры адресной строки в зависимости от выбранной вкладки
      tab: function (cur, old) {
        if (cur === 0) {
          let qr = Object.assign({}, this.$route.query);
          delete qr.tipo;

          this.$router.push({query: {...qr}});
        } else {
          let qr = Object.assign({}, this.$route.query);
          this.$router.push({query: {...qr, ...{tipo: cur}}});
        }
      }
    },

    methods: {
      // Автоматически подгружаем данные в конец страницы
      loadMore(visible) {
        if (
          visible &&
          this[this.$route.query.tipo || "tuta"].edges.length &&
          this[this.$route.query.tipo || "tuta"].pageInfo.hasNextPage
        ) {
          this.loading = true;
          this.loadData(true);
        }
      },
      // Загружаем данные
      loadData(append = false) {
        const tipo = this.$route.query.tipo || null;
        const cnt = this.$route.query.cnt || 15;
        const page = (this.$route.query.p || 1) - 1;
        const after = page ? encodeGraphQLCursor(page * cnt - 1) : null;

        let vars;

        if (!append) {
          vars = {
            first: cnt,
            after: after,
            tipo: tipo
          };
        } else {
          vars = {
            first: 15,
            after: this.pageInfo.endCursor || null,
            tipo: tipo
          };
        }

        return this.$axios
          .get(
            graphQlUrlize({
              query: komunumoj_query,
              variables: vars
            })
          )
          .then(response => {
            const resp = response.data.data.komunumoj;
            // Если ничего не вернули и при этом задана страница, то бросаем 404
            if (!resp.edges.length && page) {
              this.$root.context.error({status: 404});
            }

            this[tipo || "tuta"].pageInfo = resp.pageInfo;

            if (!append) {
              this[tipo || "tuta"].edges = resp.edges;
            } else {
              this[tipo || "tuta"].edges.splice(
                this[tipo || "tuta"].edges.length,
                0,
                ...resp.edges
              );
            }

            this.loading = false;
            return Promise.resolve();
          })
          .catch(e => {
            this.loading = false;
            console.error(e);
            return Promise.reject(e);
          });
      }
    },

    created() {
      // Если указан конкретный тип сообщества, то переключаем вкладку
      if (this.$route.query.tipo) {
        this.tab = this.$route.query.tipo;
      }
    }
  };
</script>

<style scoped>
  .general {
    width: 1145px !important;
    /*max-width: 1145px !important;*/
  }
</style>
